*{
    margin:0; padding: 0;
    font-family: 'Poppins', sans-serif;
}
@media only screen and (min-width:280px) {
  /* For mobile phones: */
  .menu2{
    width: 100%;
    display: block;
  }
  .main2{
    width: 100%;
    display: block;
  }
  .table2{
    width: 100%;
    display: block;
  }
  .menu1, .main1, .table1{
    display: none;
  }
}
@media only screen and (min-width:992px) {
  /* For mobile phones: */
  .menu1{
    width: 100%;
    display: block;
  }
  .main1{
    width: 80%;
    display: block;
  }
  .table1{
    width: 60%;
    display: block;
  }
  .menu2, .main2, .table2{
    display: none;
  }
}
.body{
    margin: 0px;
    padding: 0px;
}
.menu1{
    width: 100%;
    height: 50px;
    background-color:#3f51b5;
    color: white;
}
.menu1 ul{
    margin: 0px; padding: 0px;
}
.menu1 ul h1{
    color: white;
}
.main1{
    background: #e0e0e0; 
    height: 130px;
    width: 100%;
}
.table1{
    border:none;
    width: 100%;
}
.menu2{
    width: 100%;
    height: 50px;
    background-color:#3f51b5;
    color: white;
}
.menu2 ul{
    margin: 0px; padding: 0px;
}
.menu2 ul h1{
    color: white;
}
.main2{
    background: #e0e0e0; 
    height: 130px;
    width: 100%;
}
.table2{
    border:none;
    width: 100%;
}
table td{
    padding :10px 10px;
    width: 100%;
}
a{
    color: #3f51b5;
    padding: 5px;
}